.App {
  text-align: center;
  background-color: #fafafa;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.header {
  font-size: 40px;
  color: green;
  font-weight: bold;
}

.form {
  margin: 0 20vw;
}

.field-container {
  display: flex;
}

.left {
  display: flex;
  flex-direction: column;
  margin-right: 12px;
  height: 100%;
}

.right {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
  height: 100%;
}

.custom-button {
  background-color: green !important;
  border-color: green !important;
  margin-top: 5vh;
}
